.cent
{
    text-align: center;
}
.cen
{
    text-align: center;
}
.lef
{
    text-align: left;
}
.left
{
    text-align: left;
}
.right
{
    text-align: right;
}
.rig
{
    text-align: right;
}