body
{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box
{
    background-color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: auto;
    margin-left: auto;
    display:flex ;
    flex-direction: column;
    margin-left: 490px;
    margin-right: 490px;
    border-radius: 15px;
}
h1
{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}
h3
{
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 3%;
}
textarea
{
    background-color:  #EAE8D0;
    border-radius: 2cm;
    border-style: hidden;
    padding: 15px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -2%;
    resize: none;
}
button
{
    background-color: #282820;
    padding: 2%;
    margin: 4%;
    color: white;
    font-weight: bolder;
    border-radius: 15px;
}
.line
{
    border: solid;
    border-width: 2px;
    border-color: rgb(254, 238, 253);
    margin-left: 35px;
    margin-right: 35px;
}
#date
{
    background-color: #EAE8D0;
    border-radius: 2cm;
    padding: 15px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -2%;
    border-style: hidden;
}