p
{
    color: black;

}
.text
{

    background-color: #0E86D4;
    border: solid;
    border-width: 10px;
    border-color:black;
    margin-left: 2cm;
    margin-right: 20cm;
    padding: 3%;
    text-align: center;

}